/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body {
    background: radial-gradient(circle, rgb(92, 92, 92) 0%, rgb(61, 61, 61) 38%, rgba(0,0,0,1) 98%);
    color: white;
}

.modal-content {
    background-color: rgb(147, 147, 147, 0.9);
    color: #fff;
  }
  
  .label-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .btn-primary {
  margin: 10px auto;
  }