<nav class="navbar navbar-expand-lg bg-light">
  <div  class="container-fluid">
    <a (click)="clearSearch()" routerLink="/doctor-list" class="navbar-brand" >
      <h1 (click)="href=true">{{ title }}</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li (click)="href=true" class="nav-item">
          <a class="nav-link" routerLink="/doctor-list">Doctor's List</a>
        </li>
        <li (click)="href=false" class="nav-item">
          <a class="nav-link" routerLink="/doctor-info">Make an appointment</a>
        </li>
        <li (click)="href=false" class="nav-item">
          <a class="nav-link" routerLink="/appointments-info">Appointment calendar</a>
        </li>
      </ul>
      <form *ngIf="searchForm" [formGroup]="searchForm" class="d-flex" role="search" (ngSubmit)="onSubmit(searchForm)">
        <input
        *ngIf="href"
          formControlName="search"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button *ngIf="href" class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- <div *ngIf="isSearch">
  <button (click)="clearSearch()" class="btn btn-primary clear-btn">Clear Search</button>
</div> -->
<router-outlet></router-outlet>

