.clear-btn{
    margin-top: 40px;
    width: 300px;
    line-height: 50px;
    height: 70px;
    font-size: 22pt;
    display: flex;
    justify-content: center;
}

.container-fluid{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
}